/Data/raw/*
/Outputs/*
/log_files/*
.DS_Store
.Rproj.user/
.Rproj.user
.Rhistory
*.rds
*html
**/working/
**/exploratory/
**/personal/
**/archived/
**/archive/
**/bin/
**/rds/
/Outputs/**/fits/
/Outputs/**/stats/
/Outputs/**/diagnostics/
/scripts/simulation/**/working/
